<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="chat.js"></script>
<script>
   window.fbAsyncInit = function () {
      FB.init({
			appId: '1660165170894268', // ocelotds.org
//         appId: '1660215997555852', // localhost
         cookie: true, // enable cookies to allow the server to access 
         // the session
         xfbml: true, // parse social plugins on this page
         version: 'v2.4' // use version 2.4
      });
   };

   // Load the SDK asynchronously
   (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="container">
	<div class="well">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#demo"	aria-controls="demo"		role="tab" data-toggle="tab">Demo</a></li>
			<li role="presentation">					<a href="#java1"	aria-controls="java1"	role="tab" data-toggle="tab">ChatServices.java</a></li>
			<li role="presentation">					<a href="#java2"	aria-controls="java2"	role="tab" data-toggle="tab">Message.java</a></li>
			<li role="presentation">					<a href="#js1"		aria-controls="js1"		role="tab" data-toggle="tab">Javascript</a></li>
			<li role="presentation">					<a href="#html1"	aria-controls="html1"	role="tab" data-toggle="tab">Html</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="demo" ng-controller="ChatController as chatCtrl" ng-init="init()" ng-app="chatApp">
				<div class="demotitle">
					<img class="logo pull-left" title="Ocelotds" src="../../assets/ocelotds.svg" alt="Ocelotds"/>
					<img src="https://angularjs.org/img/AngularJS-large.png" width="200" alt="Angularjs" style="padding-top: 30px"/>
				</div>
				<h2>About demo : Simple chat with <span style="color:darkred">A</span>ngular<span style="color:darkred">js</span> and <span style="color:gray">Ocelot</span><span style="color:chocolate">ds</span>...</h2>
				<p>This is an other demonstration base on <a href="https://angularjs.org/">angularjs</a>.<br>With Ocelot your front end application communicate elegantly with your java back-end</p>
				<p>This show how to implement a simple chat.</p>
				<p>Hover the mouse <span class="cc" title="That's it !!!">&nbsp;highlighted code&nbsp;</span> and get infos about it</p>
				<div class="row">
					<div class="col-md-10">
						<form class="navbar-form form-inline">
							<button class="btn btn-primary fa fa-facebook-official {{chatCtrl.registerOn}}" ng-click="chatCtrl.register()" title="Register with facebook"></button>
							<button class="btn btn-warning fa fa-user-times {{chatCtrl.unregisterOn}}" ng-click="chatCtrl.unregister()" title="Unregister"></button>
						</form>
						<div class="chatmsg" ng-repeat="msg in chatCtrl.messages" style="padding:0px">
							<div class="popover {{msg.pos}}">
								<div class="arrow"></div>
								<h3 class="popover-title">{{msg.chatter}}</h3>
								<div class="popover-content">
									<p>{{msg.text}}</p>
								</div>
							</div>
						</div>
						<form class="form-inline">
							<textarea class="form-control" ng-model="chatCtrl.message" value="{{chatCtrl.message}}" required placeholder="Write message here" cols="40"></textarea>
							<button class="btn btn-primary {{chatCtrl.unregisterOn}} fa fa-envelope" ng-click="chatCtrl.post()"></button>
						</form>
					</div>
					<div class="col-md-2">
						<div ng-repeat="chatter in chatCtrl.chatters">
							<span>{{chatter}}</span>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="java1">
				<p>Hover the mouse <span class="cc" title="That's it !!!">&nbsp;highlighted code&nbsp;</span> and get infos about it</p>
				<pre><code class="java">@ApplicationScoped
<b class="cc" title="Annotate service for expose it to the front-end">@DataService(resolver = Constants.Resolver.CDI)</b>
public class ChatServices {
   private static final Collection&lt;String&gt; chatters = new ArrayList&lt;&gt;();
   // Register chatter and broadcast chatters updater list to Chatters topic subscribers
   @JsTopic("Chatters")
   public Collection&lt;String&gt; register(String chatter) throws ChatterAlreadyExistException, ChatterInconsistentException {
      if (null == chatter || chatter.isEmpty()) {
         throw new ChatterInconsistentException("empty");
      }
      if (chatters.contains(chatter)) {
         throw new ChatterAlreadyExistException(chatter);
      }
      chatters.add(chatter);
      return chatters;
   }

   // Unregister chatter and broadcast chatters updater list to Chatters topic subscribers
   @JsTopic("Chatters")
   public Collection&lt;String&gt; unregister(String chatter) {
      if (chatters.contains(chatter)) {
         chatters.remove(chatter);
      }
      return chatters;
   }
   
   // Post message and broadcast to all ChatRoom topic subscribers 
   @JsTopic("ChatRoom")
   public Message postMessage(Message message) throws MessageInconsistentException {
      if (null == message || message.getChatter() == null || message.getText()==null || message.getChatter().isEmpty() || message.getText().isEmpty()) {
         throw new MessageInconsistentException();
      }
      return message;
   }
}</code></pre>
			</div>
			<div role="tabpanel" class="tab-pane" id="java2">
				<p>Hover the mouse <span class="cc" title="That's it !!!">&nbsp;highlighted code&nbsp;</span> and get infos about it</p>
				<pre><code class="java">public class Message {
   public String chatter;
   public String text;
   public String getChatter() {
      return chatter;
   }
   public void setChatter(String chatter) {
      this.chatter = chatter;
   }
   public String getText() {
      return text;
   }
   public void setText(String text) {
      this.text = text;
   }
}</code></pre>
			</div>
			<div role="tabpanel" class="tab-pane" id="js1">
				<p>Hover the mouse <span class="cc" title="That's it !!!">&nbsp;highlighted code&nbsp;</span> and get infos about it</p>
				<pre><code class="js">
angular.module('chatApp', []).controller('ChatController', ['$scope', function ($scope) {
   var chatCtrl = this;
   chatCtrl.chatters = [], chatCtrl.messages = [], 
   chatCtrl.chatter = "", chatCtrl.message = "", 
   chatCtrl.subChatRoom, chatCtrl.subChatters, 
   chatCtrl.registerOn = "", chatCtrl.unregisterOn = "disabled";
   chatCtrl.unregister = function () {
      <b class="cc" title="Call ChatServices.unregister(String chatter) java service&#013;Directly, as you would if you were in java side.">chatServices.unregister(chatCtrl.chatter)</b>.<b class="cc" title="Handle method return">then</b>(function () {
         $scope.$apply(function () {
            chatCtrl.registerOn = "";
            chatCtrl.unregisterOn = "disabled";
            chatCtrl.subChatRoom.unsubscribe();
            chatCtrl.subChatters.unsubscribe();
            chatCtrl.chatters = [];
         });
      }).<b class="cc" title="Handle method exceptions">catch</b>(onFault);
   };
   chatCtrl.register = function () {
      <b class="cc" title="Subcribe to topic 'Chatters' and receive list chatters by.">chatCtrl.subChatters = subscriberFactory.createSubscriber("Chatters")</b>.<b class="cc" title="Receive messages from topic 'Chatters'">message</b>(function (<b class="cc" title="Message payload from topic 'Chatters'">list</b>) {
         $scope.$apply(function () {
            chatCtrl.chatters = list;
         });
      });
      <b class="cc" title="Call ChatServices.register(String chatter) java service&#013;Directly, as you would if you were in java side.">chatServices.register(chatCtrl.chatter)</b>.<b class="cc" title="Handle method return">then</b>(function () {
         $scope.$apply(function () {
            chatCtrl.registerOn = "disabled";
            chatCtrl.unregisterOn = "";
            chatCtrl.subChatRoom = <b class="cc" title="When user is registered, subscribes to 'ChatRoom'.">subscriberFactory.createSubscriber("ChatRoom")</b>.<b class="cc" title="Receive messages from topic 'ChatRoom'">message</b>(<b class="cc" title="Message payload from topic 'ChatRoom', the message">msg</b>) {
               $scope.$apply(function () {
                  msg.pos = "left";
                  if (msg.chatter === chatCtrl.chatter) {
                     msg.pos = "right";
                  }
                  chatCtrl.messages.push(msg);
               });
            });
         });
      }).catch(onFault);
   };
   chatCtrl.post = function () {
      if (chatCtrl.message) {
         <b class="cc" title="Call ChatServices.postMessage(Message message) java service&#013;Directly, as you would if you were in java side.">chatServices.postMessage({"chatter": chatCtrl.chatter, "text": chatCtrl.message})</b>.<b class="cc" title="Handle method return">then</b>(function () {
            $scope.$apply(function () {
               chatCtrl.message = "";
            });
         }).catch(onFault);
      }
   };
   var onFault = function (<b class="cc" title="Fault object from ocelotds">fault</b>) {
      alert(fault.message + "\n" + fault.classname + "\n" + fault.stacktrace.join('\n'));
   };
   $scope.init = function () {
		<b class="cc" title="Do something when websocket is ready">ocelotController.addCloseListener</b>(function() {
			<b class="cc" title="Call ChatServices.unregister(String chatter) java service&#013;Directly, as you would if you were in java side.">chatServices.unregister(chatCtrl.chatter)</b>.then(function () {});
		});
   };
}]);</code></pre>
			</div>
			<div role="tabpanel" class="tab-pane" id="html1">
				<p>Hover the mouse <span class="cc" title="That's it !!!">&nbsp;highlighted code&nbsp;</span> and get infos about it</p>
				<pre><code class="html">
&lt;div class="well" ng-app="chatApp"&gt;
   &lt;div ng-controller="ChatController as chatCtrl" ng-init="init()"&gt;
      &lt;div class="col-md-10"&gt;
         &lt;form class="navbar-form form-inline"&gt;
            &lt;input class="form-control" type="text" ng-model="chatCtrl.chatter" required size="20" value="{{chatCtrl.chatter}}" placeholder="Register chatter here"&gt;
            &lt;button class="btn btn-success fa fa-user-plus {{chatCtrl.registerOn}}" ng-click="chatCtrl.register()" title="Register"&gt;&lt;/button&gt;
            &lt;button class="btn btn-warning fa fa-user-times {{chatCtrl.unregisterOn}}" ng-click="chatCtrl.unregister()" title="Unregister"&gt;&lt;/button&gt;
         &lt;/form&gt;
         &lt;div class="chatmsg" ng-repeat="msg in chatCtrl.messages" style="padding:0px"&gt;
            &lt;div class="popover {{msg.pos}}"&gt;
               &lt;div class="arrow"&gt;&lt;/div&gt;
               &lt;h3 class="popover-title"&gt;{{msg.chatter}}&lt;/h3&gt;
               &lt;div class="popover-content"&gt;
                 &lt;p&gt;{{msg.text}}&lt;/p&gt;
               &lt;/div&gt;
            &lt;/div&gt;
         &lt;/div&gt;
         &lt;form class="form-inline"&gt;
            &lt;textarea class="form-control" ng-model="chatCtrl.message" value="{{chatCtrl.message}}" required placeholder="Write message here" cols="40"&gt;&lt;/textarea&gt;
            &lt;button class="btn btn-primary {{chatCtrl.unregisterOn}} fa fa-envelope" ng-click="chatCtrl.post()"&gt;&lt;/button&gt;
         &lt;/form&gt;
      &lt;/div&gt;
      &lt;div class="col-md-2"&gt;
         &lt;div ng-repeat="chatter in chatCtrl.chatters"&gt;
            &lt;span&gt;{{chatter}}&lt;/span&gt;
         &lt;/div&gt;
      &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;</code></pre>
			</div>
		</div>
	</div>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
			var disqus_shortname = 'ocelot';
			/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();		</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

