<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<link rel="stylesheet" href="angular.css">
<script src="angular.js"></script>
<div class="container-fluid">
	<div class="well col-md-5" ng-app="todoApp">
		<div class="demotitle">
			<img class="logo pull-left" title="Ocelotds" src="../../assets/ocelot_128x128.png" alt="Ocelotds"/>
			<img src="https://angularjs.org/img/AngularJS-large.png" width="200" alt="Angularjs" style="padding-top: 30px"/>
		</div>
		<div ng-controller="TodoListController as todoList" ng-init="init()">
			<span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
			[ <a href="" ng-click="todoList.archive()">archive</a> ]
			<ul class="unstyled">
				<li ng-repeat="todo in todoList.todos">
					<input type="checkbox" ng-model="todo.done" ng-change="todoList.update(todo)">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>
			<form class="form-inline" ng-submit="todoList.addTodo()">
				<input class="form-control" type="text" ng-model="todoList.todoText"  size="30" value="{{todoList.todoText}}" placeholder="add new todo here">
				<input class="btn btn-primary" type="submit" value="Add">
				<input class="btn btn-primary" type="button" ng-click="todoList.refresh()" value="Refresh">
				<input class="btn btn-danger" type="button" ng-click="todoList.reset()" value="Init">
			</form>
		</div>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
            var disqus_shortname = 'ocelot';
            /* * * DON'T EDIT BELOW THIS LINE * * */
               (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
               })();		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>
	<div class="well col-md-7">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#about"	aria-controls="about"	role="tab" data-toggle="tab">About</a></li>
			<li role="presentation">					<a href="#java1"	aria-controls="java1"	role="tab" data-toggle="tab">TodoServices.java</a></li>
			<li role="presentation">					<a href="#java2"	aria-controls="java2"	role="tab" data-toggle="tab">Todo.java</a></li>
			<li role="presentation">					<a href="#js1"		aria-controls="js1"		role="tab" data-toggle="tab">Javascript</a></li>
			<li role="presentation">					<a href="#html1"	aria-controls="html1"	role="tab" data-toggle="tab">Html</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="about">
				<h2>About demo : <span style="color:darkred">A</span>ngular<span style="color:darkred">js</span> and <span style="color:gray">Ocelot</span><span style="color:chocolate">ds</span>...</h2>
				<p>This is demonstration improved from the web site of <a href="https://angularjs.org/">angularjs</a>.<br>With Ocelot your front end application communicate elegantly with your java back-end</p>
				<p>Compare them from angular website and see the beautifull of <b><span style="color:gray">Ocelot</span><span style="color:chocolate">ds</span>.</b></p>
				<p>Hover the mouse <span class="cc" title="That's it !!!">&nbsp;highlighted code&nbsp;</span> and get infos about it</p>
			</div>
			<div role="tabpanel" class="tab-pane" id="java1">
				<p>Hover the mouse <span class="cc" title="That's it !!!">&nbsp;highlighted code&nbsp;</span> and get infos about it</p>
				<pre><code class="java">@ApplicationScoped
<b class="cc" title="Annotate service for expose it to the front-end">@DataService(resolver = Constants.Resolver.CDI)</b>
public class TodoServices {
	private List&lt;Todo&gt; todos;
	@PostConstruct
	protected void init() {
		todos = new ArrayList&lt;&gt;();
		todos.add(new Todo("learn angular", true));
		todos.add(new Todo("build an angular app", false));
	}
	public List&lt;Todo&gt; getTodos() {
		return todos;
	}
	public Todo addTodo(String text) {
		Todo todo = new Todo(text, false);
		todos.add(todo);
		return todo;
	}
	public Todo updateTodo(Todo todo) {
		for (Todo t : todos) {
			if (t.equals(todo)) {
				t.setDone(todo.isDone());
			}
		}
		return todo;
	}
	public List&lt;Todo> archive() {
		List&lt;Todo&gt; saved = new ArrayList&lt;&gt;();
		saved.addAll(todos);
		todos.clear();
		for (Todo t : saved) {
			if (!t.isDone()) {
				todos.add(t);
			}
		}
		return todos;
	}			</code></pre>
			</div>
			<div role="tabpanel" class="tab-pane" id="java2">
				<p>Hover the mouse <span class="cc" title="That's it !!!">&nbsp;highlighted code&nbsp;</span> and get infos about it</p>
				<pre><code class="java">public class Todo {
	private String text;
	private boolean done = false;

	public String getText() {
		return text;
	}
	public void setText(String text) {
		this.text = text;
	}
	public boolean isDone() {
		return done;
	}
	public void setDone(boolean done) {
		this.done = done;
	}
}				</code></pre>
			</div>
			<div role="tabpanel" class="tab-pane" id="js1">
				<p>Hover the mouse <span class="cc" title="That's it !!!">&nbsp;highlighted code&nbsp;</span> and get infos about it</p>
				<pre><code class="js">angular.module('todoApp', []).controller('TodoListController', 
['$scope', function ($scope) {
   var todoList = this;
   todoList.todos = [];
   todoList.todoText = "";
   todoList.addTodo = function () {
      <b class="cc" title="Call TodoServices.addTodo(String todoLabel) java service&#013;Directly, as you would if you were in java side.">todoServices.addTodo(todoList.todoText)</b>.<b class="cc" title="Handle method return">then</b>(function (<b class="cc" title="Payload : method return">todo</b>) {
         todoList.todos.push(<b class="cc" title="Use it">todo</b>);
         todoList.todoText = '';
         $scope.$apply();
      }).<b class="cc" title="Handle method exceptions">catch</b>(onFault);
   };
   todoList.remaining = function () {
      var count = 0;
      angular.forEach(todoList.todos, function (todo) {
         count += todo.done ? 0 : 1;
      });
      return count;
   };
   todoList.archive = function () {
      <b class="cc" title="Call TodoServices.archive() java service&#013;Directly, as you would if you were in java side.">todoServices.archive()</b>.<b class="cc" title="Handle method return">then</b>(function (todos) {
         todoList.todos = todos;
         $scope.$apply();
      }).<b class="cc" title="Handle method exceptions">catch</b>(onFault);
   };
   todoList.update = function (todo) {
      <b class="cc" title="Call todoServices.updateTodo(Todo todo) java service&#013;Directly, as you would if you were in java side.">todoServices.updateTodo(todo)</b>.<b class="cc" title="Handle method return">then</b>(function (todo) {
      }).<b class="cc" title="Handle method exceptions">catch</b>(onFault);
   };
   todoList.refresh = function () {
      <b class="cc" title="Call todoServices.getTodos() java service&#013;Directly, as you would if you were in java side.">todoServices.getTodos()</b>.<b class="cc" title="Handle method return">then</b>(function (todos) {
         todoList.todos = todos;
         $scope.$apply();
      }).<b class="cc" title="Handle method exceptions">catch</b>(onFault);
   };
   var onFault = function (<b class="cc" title="Fault object from ocelotds">fault</b>) {
      alert(fault.message + "\n" + fault.classname + "\n" + fault.stacktrace.join('\n'));
   };
   $scope.init = function() {
      todoList.refresh();
   };
}]);			</code></pre>
			</div>
			<div role="tabpanel" class="tab-pane" id="html1">
				<p>Hover the mouse <span class="cc" title="That's it !!!">&nbsp;highlighted code&nbsp;</span> and get infos about it</p>
				<pre><code class="html">&lt;html&gt;
   &lt;head&gt;
      <b class="cc" title="Add services generated to the page...">&lt;script src="ocelot/services.js" type="text/javascript"&gt;&lt;/script&gt;</b>
      <b class="cc" title="Add ocelot core to the page...">&lt;script src="ocelot/core.min.js" type="text/javascript"&gt;&lt;/script&gt;</b>
   &lt;/head&gt;
   &lt;body&gt;
      &lt;div ng-controller="TodoListController as todoList" ng-init="init()"&gt;
         &lt;span&gt;{{todoList.remaining()}} of {{todoList.todos.length}} remaining&lt;/span&gt;
         [ &lt;a href="" ng-click="todoList.archive()"&gt;archive&lt;/a&gt; ]
         &lt;ul class="unstyled"&gt;
            &lt;li ng-repeat="todo in todoList.todos"&gt;
               &lt;input type="checkbox" ng-model="todo.done" ng-change="todoList.update(todo)"&gt;
               &lt;span class="done-{{todo.done}}"&gt;{{todo.text}}&lt;/span&gt;
            &lt;/li&gt;
         &lt;/ul&gt;
         &lt;form ng-submit="todoList.addTodo()"&gt;
            &lt;input type="text" ng-model="todoList.todoText"  size="30" value="{{todoList.todoText}}" placeholder="add new todo here"&gt;
            &lt;input class="btn-primary" type="submit" value="add"&gt;
            &lt;input class="btn-primary" type="button" ng-click="todoList.refresh()" value="refresh"&gt;
         &lt;/form&gt;
      &lt;/div&gt;
   &lt;/body&gt;
&lt;/html&gt;</code></pre>
			</div>
		</div>
	</div>
</div>