body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}
.avatar {
	height: 128px;
	width: 128px;
	border-radius:50%;
	margin: 0 auto;
	display: block;
}
.logo {
	height: 128px;
	width: 128px;
	margin: 0 auto;
	display: block;
}
.badges {
	float: left;
	line-height: 56px;
}
